.aboutWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding-left: 40px;
  padding-right: 40px;
  /* padding-top: 60px; */
  padding-bottom: 60px;
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
  text-align: start;
  font-size: var(--p3-16-size);
  color: var(--color-gray-100);
  font-family: var(--h2-48);
}
@media screen and (max-width: 1050px) {
  .aboutWrapper {
    padding-bottom: var(--padding-20xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .aboutWrapper {
    padding-bottom: 40px;
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
  }
}
